@font-face {
    font-family: 'Atozimple Thin Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Atozimple Thin Regular'), url('../font/Atozimple\ Thin.woff') format('woff');
}
@font-face {font-family: "Avenir";
    src: url("../font/aa.eot"); /* IE9*/
    src: url("../font/aa.eot") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/aa.woff2") format("woff2"), /* chrome firefox */
    url("../font/aa.woff") format("woff"), /* chrome firefox */
    url("../font/aa.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/
    url("../font/aa.svg") format("svg"); /* iOS 4.1- */
}
@media only screen and (min-width:1366px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 100% !important;
    }
    .container,.container-lg, .container-md, .container-sm, .container-xl {
        padding-right: 80px;
        padding-left: 80px;
    }
}
header.transparent {
        position: absolute;
        z-index: 999;
        width: 100%;
}

ul.social-links li {
    list-style: none;
    display: inline-block;
    text-align: right;
    float: right;
    margin: 23px 14px;
    font-size: 20px;
  
}
ul.social-links li a i {
    color: #35ffe1;
}
img{
    max-width: 100%;
}
.bg-video-wrap {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background: black;
  }
  video {
    min-width: 100%;
    min-height: 100vh;
    z-index: 1;
    max-width: 100%;
    transform: scaleY(-1);
    position: relative;
    top: -210px;
  }
  .overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, rgba(6,11,15,1) 0%, rgba(9,14,17,1) 100%);
    z-index: 2;
    opacity: 0.8;
  }
  .overlay-text {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    max-width: 900px;
    width: 100%;
    height: 486px;
  }
  img.logo {
    width: 290px;
}
.banner-text h1 {
    font-size: 75px;
    text-transform: uppercase;
    text-align: center;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #32ffe0, #00f2f1, #00e4fc, #00d5ff, #25c4ff);
    -webkit-background-clip: text;
    font-weight: 300;
    font-family: 'Josefin Sans', sans-serif;
    margin: 36px 0px 5px 0px;

}
.banner-text h2 {
    font-size: 55px;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Atozimple Thin Regular'
}

.arrow-container {
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 99999;
  }
  .arrow-container:hover {
    cursor: pointer;
  }
  .arrow-container:hover .arrow {
    top: 50%;
  }
  .arrow-container:hover .arrow:before {
    transform: translate(-50%, -50%) rotateZ(-30deg);
  }
  .arrow-container:hover .arrow:after {
    transform: translate(-50%, -50%) rotateZ(30deg);
  }
  
  .arrow {
    position: absolute;
    left: 50%;
    transition: all .4s ease;
  }
  .arrow:before, .arrow:after {
    transition: all .4s ease;
    content: '';
    display: block;
    position: absolute;
    transform-origin: bottom right;
    width: 4px;
    height: 50px;
    border-radius: 10px;
    transform: translate(-50%, -50%) rotateZ(-45deg);
    background: linear-gradient(-100deg, rgba(0,0,0,1) 0%, rgba(0,239,255,1) 100%);
  }
  .arrow:after {
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotateZ(45deg);
  }
  .arrow:nth-child(1) {
    opacity: 0.3;
    top: 35%;
  }
  .arrow:nth-child(2) {
    opacity: 0.6;
    top: 55%;
  }
  .arrow:nth-child(3) {
    opacity: 0.9;
    top: 75%;
  }
  
  section.what-we-do {
    padding: 100px 0px 0px 0px;  
    background: rgb(6,11,15);
    background: linear-gradient(90deg, rgba(6,11,15,1) 0%, rgba(9,14,17,1) 100%);
}


  .section-heading{
    font-family: 'Josefin Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 100px;
    color: #161a1d;
    text-align: right;
    margin-right: 37%;
  }

  h2.section-heading:after {
    width: 33%;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 63px;
    border-top: 2px solid white;
    z-index: 1;
    overflow: hidden;
}

.sub-heading{
    font-size: 76px;
    color: #ffffff;
    font-family: 'Avenir';
    margin: 35px 0px 70px 0px;
}
.sub-heading span {
    color: #00ffd8;
}

.text p {
    font-size: 30px;
    color: #cecece;
    line-height: 45px;
    margin: 0px 0px 35px 0px;
}

.text p span {
    color: #00ffd9;
}

.anim {
    width: 100%;
    position: relative;
}
.wwd{
    position: relative;
    margin-top: 150px;
    padding-bottom: 115px;
}
img.circle-image {
    width: 1200px;
    left: -813px;
    position: relative;
    opacity: 0.5;
    z-index: 6;
    filter: drop-shadow(10px 10px 10px black);
    visibility: hidden;
}

.circle-steps {
    position: absolute;
    top: 0;
    width: 80%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 6;
}
.anim-layer-one{
    position: absolute;
    top: 13px;
    height: auto;
    left: -825px;
    z-index: 4;
    width: 1200px;
}
.anim-layer-one img {
    filter: drop-shadow(2px 1px 10px black);
    width: 1200px;
}
.anim-layer-two img {
    filter: drop-shadow(2px 1px 10px black);
    width: 1239px;
}
.anim-layer-three img {
    filter: drop-shadow(2px 1px 10px black);
    width: 1282px;
}
.top-layer {
    position: absolute;
    top: 6px;
    width: 1200px;
    height: auto;
    left: -831px;
    z-index: 5;
}
.top-layer img {
    filter: brightness(0.5);
    width: 1200px;
}
.anim-layer-two {
    position: absolute;
    top: -8px;
    width: 1239px;
    height: auto;
    left: -842px;
    z-index: 3;
}

.anim-layer-three{
    position: absolute;
    top: -31px;
    width: 1284px;
    height: auto;
    left: -864px;
    z-index: 2;
}
.anim-layer-four {
    position: absolute;
    top: -53px;
    width: 1329px;
    height: auto;
    left: -888px;
    z-index: 1;
}
.anim-layer-four img {
    width: 1326px;
}
.circle-steps ul li img {
    width: 130px;
}
.hidden{
    visibility: hidden;
}
.step-one {
    position: absolute;
    top: 0;
    max-width: 620px;
    z-index: 99;
    left: 143px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: start;
}
.step-one img {
    width: 23%;
}
.step-one-text {
    margin: 72px 0px 0px 150px;
    position: relative;
}
.step-one-text h3 {
    color: #ffffff;
    font-size: 27px;
    margin: 15px 0px;
    font-weight: 600;
}
.step-one-text h3:before {
    width: 90px;
    content: "";
    position: absolute;
    bottom: 0px;
    left: -113px;
    height: 72px;
    border-top: 2px solid white;
    z-index: 12;
    overflow: hidden;
}
.step-one-text p {
    font-size: 14px;
    color: #00ffd9;
    line-height: 21px;
}


.step-two {
    position: absolute;
    top: 202px;
    max-width: 620px;
    z-index: 99;
    left: 283px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: start;
}
.step-two img {
    width: 23%;
}

.step-three {
    position: absolute;
    top: 465px;
    max-width: 620px;
    z-index: 99;
    left: 406px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: start;
}
.step-three img {
    width: 23%;
}


.step-four {
    position: absolute;
    top: 729px;
    max-width: 620px;
    z-index: 99;
    left: 288px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: start;
}
.step-four img {
    width: 23%;
}

.step-five {
    position: absolute;
    top: 966px;
    max-width: 620px;
    z-index: 99;
    left: 131px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    text-align: start;
}
.step-five img {
    width: 23%;
}



@media only screen and (max-width:1282px) {
    .mg-16 .price-box:nth-child(1) {
        margin-right: 4% !important;
    }
    .mg-16 .price-box:nth-child(3) {
        margin-right: 4% !important;
    }
}





section.expertise {
    padding: 160px 0px 0px 0px;
    background: rgb(6,11,15);
    background: linear-gradient(90deg, rgba(6,11,15,1) 0%, rgba(9,14,17,1) 100%);
    position: relative;
}
.mapoverlay img {
    position: absolute;
    top: 255px;
}
h2.focus-heading {
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
    font-size: 65px;
    text-transform: uppercase;
}

.section-heading-right {
    font-family: 'Josefin Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 100px;
    color: #161a1d;
    text-align: left;
    margin-left: 19%;
}
h2.section-heading-right:before {
    width: 15%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    height: 63px;
    border-top: 2px solid white;
    z-index: 1;
    overflow: hidden;
}

.mg-16{
    margin-left: 17%;
    position: relative;
}
h2.sub-heading span {
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #32ffe0, #00f2f1, #00e4fc, #00d5ff, #25c4ff);
    -webkit-background-clip: text;

}
.mapoverlay {
    background: url(../img/Map.png);
    position: absolute;
    width: 100%;
    height: 109%;
    background-size: cover;
    background-position: 27% 0%;
    top: 239px;
}



.section-heading-right-three {
    font-family: 'Josefin Sans';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 100px;
    color: #161a1d;
    text-align: left;
    margin-left: 19%;
}
h2.section-heading-right-three:before {
    width: 15%;
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 63px;
    border-top: 2px solid white;
    z-index: 1;
    overflow: hidden;
}

.chart {
    background: url(../img/Charts.png);
    width: 100%;
    position: relative;
    background-size: cover;
    height: 1006px;
    background-repeat: no-repeat;
    background-position: -197px -130px;
    z-index: 1;
}



.video{
    background: rgb(7,11,15);
background: linear-gradient(180deg, rgba(7,11,15,1) 0%, rgba(31,47,75,1) 50%, rgba(88,223,196,1) 100%);
min-height: 4000px;
position: relative;
z-index: 0;
}

.line img {
    max-width: 52%;
}
.line {
    margin: 0px 85px;
    position: relative;
    top: -29%;
}
.video-link img {
    max-width: 1000px;
}
.video-link {
    top: -32%;
    text-align: center;
    z-index: 0;
    position: relative;
}
.mar-top{
    margin-top:150px
}
ul.steps-detail {
    position: absolute;
    top: 0;
    left: 162px;
    width: 100%;
    z-index: 99;
}
ul.steps-detail li img {
    width: 20%;
}
.price-box {
    background-image: linear-gradient(to left top, #162237, #1a2c44, #1e3750, #21425d, #234d6a);
    border-radius: 26px;
    text-align: center;
    min-height: 800px;
    padding: 0px 52px;
    position: relative;
    width: 450px;
    margin: 100px 0px;
    box-shadow: 0px 0px 20px 0px black;
    display: inline-block;
}
.mg-16 .price-box:nth-child(1) {
    margin-right: 10%;
}
.mg-16 .price-box:nth-child(3) {
    margin-right: 10%;
}
.logo-layer {
    background: url(../img/price.png);
    position: absolute;
    width: 519.5px;
    height: 100%;
    background-size: contain;
    top: -21px;
    background-repeat: no-repeat;
    left: -35px;
    z-index: 1;
}
.time {
    font-size: 70px;
    color: #00ffde;
    font-family: 'Avenir';
}
.duration {
    font-size: 45px;
    color: #0daea0;
    margin: 36px 0px;
}
.price {
    font-size: 81px;
    color: #00ffde;
}
.price-button a {
    background-image: linear-gradient(to right, #478eb2, #22aacb, #00c7dc, #00e3e2, #00ffde);
    color: #ffffff;
    font-size: 58px;
    padding: 0px 29px;
    border-radius: 22px;
}
.price-box-logo img {
    max-width: 46%;
    position: relative;
    top: -83px;
    z-index: 3;
}

.price-button {
    position: absolute;
    bottom: -25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
.price {
    font-size: 81px;
    color: #00ffde;
    position: absolute;
    bottom: 97px;
    left: 0;
    right: 0;
    font-family: 'Avenir';
}
a:hover{
    text-decoration: none;
}


.focus {
    position: relative;
}
.focus img {
    width: 100%;
}
.line-draw {
    position: absolute;
    top: 46%;
    width: 100%;
}
ul.icons-box-sec-inner li {
    width: 33%;
    display: inline-block;
    text-align: center;
}
.icons-box-sec {
    position: absolute;
    top: 50%;
    width: 100%;
}
.inner-box img {
    width: auto;
}
.inner-box {
    padding: 0px 60px;
}
h3.box-heading-one {
    color: #ffdf9b;
    font-size: 25px;
}
.box-text-one {
    color: #ffdf9b;
    font-size: 15px;
    line-height: 23px;
    margin: 15px 0px;
}

h3.box-heading-two {
    color: #9bffc3;
    font-size: 25px;
}
.box-text-two {
    color: #9bffc3;
    font-size: 15px;
    line-height: 23px;
    margin: 15px 0px;
}

h3.box-heading-three {
    color: #8cf6ff;
    font-size: 25px;
}
.box-text-three {
    color: #8cf6ff;
    font-size: 15px;
    line-height: 23px;
    margin: 15px 0px;
}
ul.icons-box-sec-inner li:first-child {
    top: -37px;
    position: relative;
}
ul.icons-box-sec-inner li:last-child {
    top: -95px;
    position: relative;
}
.video-bg {
    position: absolute;
    top: -7%;
}

.color{
    color: #2b3443;
}

.lin-text {
    position: absolute;
    top: 14%;
    width: 600px;
}







.annimated-box {
    position: absolute;
    left: 5px;
    top: 156px;
}
.annimated-box p {
    position: absolute;
    left: 99px;
    top: 10px;
    font-size: 15px;
    color: #2de8c3;
    font-weight: 700;
}
.annimated-box p:before {
    width: 67%;
    content: "";
    position: absolute;
    left: -49px;
    height: 2px;
    border-top: 2px solid white;
    z-index: 1;
    overflow: hidden;
    top: 7px;
}
.annimated-box img {
    max-width: 100%;
    left: -6px;
    position: relative;
}

.annimated-box.two {
    top: 38%;
    left: 11%;
}
.annimated-box.three {
    top: 38%;
    left: 34%;
    text-align: center;
}
.annimated-box.two p {
    position: absolute;
    left: -12px;
    top: 97px;
    font-size: 15px;
    color: #2de8c3;
    font-weight: 700;
}
.annimated-box.two p:before {
    width: 67%;
    content: "";
    position: absolute;
    left: 6px;
    height: 2px;
    border-top: 2px solid white;
    z-index: 1;
    overflow: hidden;
    top: -30px;
    transform: rotate(90deg);
}

.annimated-box.three p {
    position: absolute;
    left: -23px;
    top: -98px;
    font-size: 15px;
    color: #2de8c3;
    font-weight: 700;
}
.annimated-box.three p:before {
    width: 67%;
    content: "";
    position: absolute;
    left: 10px;
    height: 2px;
    border-top: 2px solid white;
    z-index: 1;
    overflow: hidden;
    top: 61px;
    transform: rotate(90deg);
}
.annimated-box.four {
    bottom: 368px;
    top: auto;
    left: 48.5%;
}

.annimated-box.four p {
    position: absolute;
    left: -140px;
    top: 10px;
    font-size: 15px;
    color: #2de8c3;
    font-weight: 700;
}
.annimated-box.four p:before {
    width: 67%;
    content: "";
    position: absolute;
    left: 79px;
    height: 2px;
    border-top: 2px solid white;
    z-index: 1;
    overflow: hidden;
    top: 7px;
}
.annimated-box.five {
    bottom: 150px;
    top: auto;
    left: 48.5%;
}

.annimated-box.five p {
    position: absolute;
    left: 114px;
    top: 10px;
    font-size: 15px;
    color: #2de8c3;
    font-weight: 700;
}
.annimated-box.five p:before {
    width: 67%;
    content: "";
    position: absolute;
    left: -67px;
    height: 2px;
    border-top: 2px solid white;
    z-index: 1;
    overflow: hidden;
    top: 7px;
}


@media only screen and (max-width:1367px) {

    ul.steps-detail {
        margin: 0px 29px;
    }
}




@media only screen and (max-width:640px){
    .video-link img {
        max-width: 100%;
    }

    .banner-text h1 {
        font-size: 50px;
        text-transform: uppercase;
        text-align: center;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #32ffe0, #00f2f1, #00e4fc, #00d5ff, #25c4ff);
        -webkit-background-clip: text;
        font-weight: 300;
        font-family: 'Josefin Sans', sans-serif;
        margin: 36px 0px 5px 0px;
    }
    .banner-text h2 {
        font-size: 42px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Atozimple Thin Regular';
    }

    .section-heading {
        font-family: 'Josefin Sans';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        color: #161a1d;
        text-align: right;
        margin-right: 20%;
    }

    h2.section-heading:after {
        width: 16%;
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 22px;
        border-top: 2px solid white;
        z-index: 1;
        overflow: hidden;
    }
    .sub-heading {
        font-size: 22px;
        color: #ffffff;
        font-family: 'Avenir';
        margin: 35px 0px 70px 0px;
    }
    .text p {
        font-size: 20px;
        color: #cecece;
        line-height: 29px;
        margin: 0px 0px 12px 0px;
    }

    .step-one {
        position: relative;
        top: initial;
        max-width: 620px;
        z-index: 99;
        left: initial;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }

    .step-two {
        position: relative;
        top: initial;
        max-width: 620px;
        z-index: 99;
        left: initial;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }


    .step-three {
        position: relative;
        top: initial;
        max-width: 620px;
        z-index: 99;
        left: initial;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }



    .step-four {
        position: relative;
        top: initial;
        max-width: 620px;
        z-index: 99;
        left: initial;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }



    .step-five {
        position: relative;
        top: initial;
        max-width: 620px;
        z-index: 99;
        left: initial;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: start;
    }


    .section-heading-right {
        font-family: 'Josefin Sans';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        color: #161a1d;
        text-align: left;
        margin-left: 19%;
    }


    .section-heading-right:before {
        width: 15%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 22px;
        border-top: 2px solid white;
        z-index: 1;
        overflow: hidden;
    }


    h2.focus-heading {
        color: #ffffff;
        text-align: center;
        margin: 46px auto;
        font-size: 30px;
        text-transform: uppercase;
    }


    ul.icons-box-sec-inner li:first-child {
        top: initial;
        position: relative;
    }
    ul.icons-box-sec-inner li {
        width: 100%;
        display: inline-block;
        text-align: center;
    }

    ul.icons-box-sec-inner li:last-child {
        top: initial;
        position: relative;
    }


    .section-heading-right-three {
        font-family: 'Josefin Sans';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        color: #161a1d;
        text-align: left;
        margin-left: 19%;
    }

    .icons-box-sec {
        position: relative;
        top: initial;
        width: 100%;
    }

    .inner-box {
        padding: 0px 0px;
    }
    

    .price-box {
        background-image: linear-gradient(to left top, #162237, #1a2c44, #1e3750, #21425d, #234d6a);
        border-radius: 26px;
        text-align: center;
        min-height: 450px;
        padding: 0px 52px;
        position: relative;
        width: 300px;
        margin: 100px auto;
        box-shadow: 0px 0px 20px 0px black;
        display: block;
    }

    .logo-layer {
        background: url(../img/price.png);
        position: absolute;
        width: 341.5px;
        height: 100%;
        background-size: contain;
        top: -13px;
        background-repeat: no-repeat;
        left: -22px;
        z-index: 1;
    }
    .time {
        font-size: 30px;
        color: #00ffde;
        font-family: 'Avenir';
    }
    .duration {
        font-size: 22px;
        color: #0daea0;
        margin: 36px 0px;
    }

    .price {
        font-size: 40px;
        color: #00ffde;
        position: absolute;
        bottom: 97px;
        left: 0;
        right: 0;
        font-family: 'Avenir';
    }

    .price-button a {
        background-image: linear-gradient(to right, #478eb2, #22aacb, #00c7dc, #00e3e2, #00ffde);
        color: #ffffff;
        font-size: 35px;
        padding: 0px 29px;
        border-radius: 22px;
    }

    .price-box-logo img {
        max-width: 60%;
        position: relative;
        top: -46px;
        z-index: 3;
    }
    html {
        overflow-x: hidden;
    }
    img.circle-image {

        display: none;
    }
    .step-one-text {
        margin: 25px 0px;
    position: relative;
    }
    .step-one img {
       
        display: none;
    }
    .step-two img {
        
        display: none;
    }
    .step-three img {
       
        display: none;
    }
    .step-four img {
       
        display: none;
    }
    .step-five img {
       
        display: none;
    }


    .top-layer {
        position: absolute;
        top: 1px;
        width: 1008px;
        height: auto;
        left: -526px;
        z-index: 5;
    }
    .top-layer img {
        filter: brightness(0.5);
        width: 784px;
    }

    .anim-layer-one {
        position: absolute;
        top: 20px;
        height: auto;
        left: -491px;
        z-index: 4;
        width: 752px;
    }
    .anim-layer-one img {
        filter: drop-shadow(2px 1px 10px black);
        width: 900px;
    }


    .anim-layer-two {
        position: absolute;
        top: -11px;
        width: 820px;
        height: auto;
        left: -546px;
        z-index: 3;
    }
    .anim-layer-two img {
        filter: drop-shadow(2px 1px 10px black);
        width: 984px;
    }

    .anim-layer-three {
        position: absolute;
        top: -34px;
        width: 996px;
        height: auto;
        left: -583px;
        z-index: 2;
    }

    .anim-layer-three img {
        filter: drop-shadow(2px 1px 10px black);
        width: 872px;
    }
    .anim-layer-four {
        position: absolute;
        top: -53px;
        width: 981px;
        height: auto;
        left: 0;
        z-index: 1;
    }
    .anim-layer-four img {
        width: 908px;
    }
    .anim-layer-four {
        position: absolute;
        top: -53px;
        width: 981px;
        height: auto;
        left: -604px;
        z-index: 1;
    }

    h2.section-heading-right:before {
        width: 15%;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        height: 20px;
        border-top: 2px solid white;
        z-index: 1;
        overflow: hidden;
    }


    section.expertise {
        padding: 0px 0px 0px 0px;
        background: rgb(6,11,15);
        background: linear-gradient(90deg, rgba(6,11,15,1) 0%, rgba(9,14,17,1) 100%);
        position: relative;
    }

    .mg-16 {
        margin-left: 0%;
        position: relative;
        margin: 0 auto;
    }
    .sub-heading {
        font-size: 22px;
        color: #ffffff;
        font-family: 'Avenir';
        margin: 18px 0px 20px 0px;
    }
    .section-heading-right-three {
        font-family: 'Josefin Sans';
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
        color: #161a1d;
        text-align: left;
        margin-left: 0%;
    }

    h2.section-heading-right-three:before {
        width: 15%;
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 23px;
        border-top: 2px solid white;
        z-index: 1;
        overflow: hidden;
    }

    img {
        max-width: 100% !important;
    }

    .line {
        margin: 0px 0px;
        position: relative;
        top: -60%;
    }

    .annimated-box {
        position: absolute;
        left: -3px;
        top: 41px;
    }


    .annimated-box.two {
        top: 37%;
        left: 16%;
    }

    .annimated-box.three {
        top: 37%;
        left: 65%;
        text-align: center;
    }

    .annimated-box.four {
        bottom: 171px;
        top: auto;
        left: 90.5%;
    }


    .annimated-box.five {
        bottom: unset;
        top: 121px;
        left: -0.5%;
    }


    .video-link {
        top: -70%;
        text-align: center;
        z-index: 0;
        position: relative;
    }


    .color {
        color: #2b3443 !important;
    }

    .video {
        background: rgb(7,11,15);
        background: linear-gradient(180deg, rgba(7,11,15,1) 0%, rgba(31,47,75,1) 50%, rgba(88,223,196,1) 100%);
        min-height: auto;
        position: relative;
        z-index: 0;
    }
}